@import "tailwindcss";

:root {
  --light-color: #ff409a;
  --dark-color: #571e5f;
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Some Global CSS styles */

.fixed-max-width {
  width: 100%;
  max-width: 1440px;
}

.home-bg{
  background-image: url('/gradient-bg.avif');
}
.line-bg{
  background-image: url('/line-bg.jpg');
}

.text-bg {
  background-image: url('/confetti.gif');
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underline-heading{
  position: relative;
  width: fit-content;
}

.underline-heading::after{
  content: '';
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: var(--dark-color);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

/* Loader CSS  */

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: var(--dark-color);
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--light-color);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}